<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm" style="    margin-top: 72px;">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center">Login form</legend>

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">User Name</label>
                            <div class="col-md-9">
                                <input name="name" type="text" placeholder="User Name" class="form-control"  ng-model="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Password</label>
                            <div class="col-md-9">
                                <input name="name" type="password" placeholder="Password" class="form-control"  ng-model="password">
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
